@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --yellow:#0F6292;
   --black:#fff;
   --white:#F4EEE0;
   --light-bg:#FF55BB;
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
   color:var(--black);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

.tampilan {
   transition: .2s linear !important;
   background-color:#3AA6B9;
   align-items: center;
   flex-wrap: wrap;
   min-height: 100vh;
   background-image: url('img/ft.jpg');
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 20rem;
}

.btn {
   width: 90px;
   height: 40px;
   font-size: 22px;
}

.regis {
   width: 60px;
   height: 30px;
}

body.active{
   padding-left: 35rem;
}

section{
   padding:3rem 2rem;
   margin: 0 auto;
   max-width: 1200px;
   text-align: center;
}

.heading{
   margin-bottom: 3rem;
   text-align: center;
}

.heading span{
   text-transform: uppercase;
   font-size: 6.5rem;
   border-bottom: var(--border-bold);
}
 
button {
	width: 49%;
}


.home .content{
   flex:1 1 40rem;
}

.home .content h3{
   text-transform: uppercase;
   font-size: 5rem;
   margin-bottom: .5rem;
   
}

.home .content span{
   display: inline-block;
   padding:1rem 2rem;
   background-color: var(--yellow);
   font-size: 2.5rem;
   margin:1rem 0;
}

.home .content p{
   font-size: 1.7rem;
   line-height: 2;
   padding:1rem 0;
}

.about .text p{
   margin:2rem auto;
   max-width: 70rem;
   line-height: 2;
   font-size: 1.8rem;
}

.about .text .bio{
   margin: 1rem 0;
}

.about .text .bio h3{
   padding:1rem 2rem;
   display: inline-block;
   margin:1rem;
   background-color: var(--light-bg);
   border:var(--border-light);
   word-break: break-all;
   font-size: 2.5rem;
   font-weight: normal;
   text-transform: none;
}

.about .text .bio h3 span{
   font-weight: lighter;
}



.portfolio .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.portfolio .box-container .box img{
   height: 30rem;
   width: 100%;
   object-fit: cover;
}

.portfolio .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   font-weight: normal;
}

.portfolio .box-container .box span{
   font-size: 1.7rem;
}
